<footer class="bg-dark text-center text-white mt-auto">
    <div class="container p-4 pb-0">
      <!-- Contact Us -->
      <section class="mb-4">
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/bambam4334/Project-SW-Dev"
          ><i class="fab fa-github"></i>
        </a>
      </section>
      <!-- Contact Us -->
    </div>
  
    <!-- Copyright -->
    <div class="text-center p-3 bg-dark">
      © 2020 Copyright:
      <a class="text-white" href="https://github.com/bambam4334/Project-SW-Dev">Group 12</a>
    </div>
    <!-- Copyright -->
  </footer>