<nav class="navbar navbar-expand navbar-dark bg-dark self-font-family">
    <div class="container">
        <!-- Brand Logo -->
        <a href="/" class="navbar-brand m-2" title="Read Like a Book">
            <i class="fa-solid fa-book fa-2x"></i>
        </a>
        <!-- Brand Logo -->
        <div class="m-2">
            <ul class="nav navbar-nav">
                <!-- Search Bar -->
                <li class="nav-item px-3">
                    <form method="GET" action="/book/">
                        <input class="form-control" name="search" type="search" placeholder="ค้นหาหนังสือ ...">
                    </form>
                </li>
                <!-- Search Bar -->

                <!-- Bookshelf Icon -->
                <li class="nav-item px-3">
                    <a href="/bookshelf" class="text-white" title="Bookshelf">
                        <i class="fa-solid fa-book-open-reader fa-2x"></i>
                    </a>
                </li>
                <!-- Bookshelf Icon -->

                <!-- Wishlist Icon -->
                <li class="nav-item px-3">
                    <a href="/" class="text-white" title="Wishlist">
                        <i class="fa-solid fa-heart fa-2x"></i>
                    </a>
                </li>
                <!-- Wishlist Icon -->

                <% if (userData.role == "admin") { %>
                    <!-- Admin Dashboard Icon -->
                    <li class="nav-item px-3">
                        <a href="/admin/dashboard" class="text-white text-decoration-none" title="Admin Dashboard">
                            <i class="fa-solid fa-window-maximize fa-2x"></i>
                        </a>
                    </li>
                    <!-- Admin Dashboard Icon -->
                <% } %>

                <!-- User Icon -->
                <li class="nav-item px-3">
                    <a href="/myaccount" class="text-white text-decoration-none" title="Account">
                        <i class="fa-solid fa-user fa-2x"></i>
                        <span class="text-white">
                            <%= userData.id %>
                        </span>
                    </a>
                </li>
                <!-- User Icon -->

                <!-- Cart Icon -->
                <li class="nav-item px-3">
                    <a class="btn btn-primary px-4" title="Cart">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </a>
                </li>
                <!-- Cart Icon -->

                <!-- Logout Icon -->
                <li class="nav-item px-3">
                    <a href="/logout" class="text-white" title="Logout">
                        <i class="fa-solid fa-arrow-right-from-bracket fa-2x"></i>
                    </a>
                </li>
                <!-- Logout Icon -->
            </ul>
        </div>
    </div>
</nav>