<!DOCTYPE html>
<html lang="en">
<!-- Head Tag Include -->
<%- include("../partials/head-tag-partial.ejs") %>
<!-- Head Tag Include -->

<!-- Header Include -->
<%- include("../partials/header-partial.ejs") %>
<!-- Header Include -->

<body class="d-flex flex-column min-vh-100">
    <div id="app">
        <div class="container self-font-family mb-5">
            <div class="d-flex justify-content-between m-5" style="background-color:rgb(199, 198, 198);padding: 30px;border-radius: 10px;" >
                <div class="d-flex">
                    <img src=""  style="width:200px; height: 300px;">
                    <div class="m-5">
                        <p>  rewardInfo.name  </p>
                        <p>ใช้ดาวจำนวน   rewardInfo.price   ดวง</p>
                    </div>
                </div>
                <div class="mt-5">
                    <p>ทำการแลกเมื่อวันที่</p>
                    <p>bookData[i].time_exchange</p>
                </div>
            </div>
        </div>
    </div>

</body>

<!-- Footer Include -->
<%- include("../partials/footer-partial.ejs") %>
<!-- Footer Include -->

<!-- Vue Include -->
<%- include("../vues/history-vue.ejs") %>
<!-- Vue Include -->
</html>