<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head-tag-partial.ejs") %>
<body>
    
    <div id="app">
        {{ test }}
    </div>

</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            test: "tessst",
        },
    });
</script>
</html>