<!DOCTYPE html>
<html lang="en">
<!-- Head Tag Include -->
<%- include("../partials/head-tag-partial.ejs") %>
<!-- Head Tag Include -->

<!-- Header -->
<nav class="navbar navbar-expand navbar-dark bg-dark self-font-family">
    <div class="container">
        <!-- Brand Logo -->
        <a href="/" class="navbar-brand m-2">
            <i class="fa-solid fa-book fa-2x"></i>
        </a>
        <!-- Brand Logo -->
    </div>
</nav>
<!-- Header -->

<body class="d-flex flex-column min-vh-100">
    <div class="container self-font-family mb-5 h-100">
        <span class="d-flex justify-content-center mt-5 pt-5">
            <i class="fa-solid fa-circle-exclamation fa-10x"></i>
        </span>
        <h1 class="d-flex justify-content-center mt-5">THIS PAGE COULD NOT BE FOUND</h1>
        <a class="text-dark fs-3 d-flex justify-content-center" href="/">
            Back to The Home Page
        </a>
        
    </div>

</body>

<!-- Footer Include -->
<%- include("../partials/footer-partial.ejs") %>
<!-- Footer Include -->

</html>